<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- CodeMirror css -->
  {{ style('codemirror/lib/codemirror.css') }}
  {{ style('codemirror/addon/dialog/dialog.css') }}
  {{ style('codemirror/addon/fold/foldgutter.css') }}
  {{ style('codemirror/addon/hint/show-hint.css') }}
  {{ style('codemirror/addon/search/matchesonscrollbar.css') }}
    
  <title>
    Grunna IDE
  </title>
</head>

<body>
  <header>
  @include('editor.menubar')
  </header>
  <main>
  <div role="main" class="container-fluid" style="height: calc(100vh - 80px)">
    <div class="row" style="height: 100%">
      <div class="col-2 pl-0" style="height: 100%; width: 250px; overflow: auto">
		@include('editor.leftSidebar')
      </div>
      <div class="col-10 pr-0" style="height: 100%">
        <div class="row no-gutters" style="height: 100%">
          <div class="col-12 overflow-hidden border" style="height: 70%">
            @include('editor.code')
          </div>
          <div class="col-12 overflow-auto border" style="height: 30%">
            <div style="height: calc(100% - 42px)">
              <div class="tab-content" style="height: 100%">
                
                <div style="height: 100%" class="tab-pane active" role="tabpanel" id="outputTab">
                  @include('editor.output')
                </div>
                <div style="height: 100%" class="tab-pane" role="tabpanel" id="terminalTab">
                  <div id="terminal-continer"></div>                  
                </div>
              </div>
							<ul class="nav nav-tabs" id="bottomCodeTabs" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="output-tab" data-toggle="tab" href="#outputTab" role="tab" aria-controls="output" aria-selected="true">Output</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="terminal-tab" data-toggle="tab" href="#terminalTab" role="tab" aria-controls="terminal" aria-selected="false">Terminal</a>
                </li>
							</ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </main>
  @include('editor.footer')

  <!-- CodeMirror JS -->
  {{ script('codemirror/lib/codemirror.js') }}
  
  <!-- CodeMirror JS Addons -->
	{{ script('codemirror/addon/dialog/dialog.js') }}
	{{ script('codemirror/addon/edit/closebrackets.js') }}
	{{ script('codemirror/addon/edit/closetag.js') }}
	{{ script('codemirror/addon/edit/matchbrackets.js') }}
	{{ script('codemirror/addon/edit/matchtags.js') }}
	{{ script('codemirror/addon/edit/trailingspace.js') }}
	{{ script('codemirror/addon/fold/brace-fold.js') }}
	{{ script('codemirror/addon/fold/comment-fold.js') }}
	{{ script('codemirror/addon/fold/foldcode.js') }}
	{{ script('codemirror/addon/fold/foldgutter.js') }}
	{{ script('codemirror/addon/fold/indent-fold.js') }}
	{{ script('codemirror/addon/fold/markdown-fold.js') }}
	{{ script('codemirror/addon/fold/xml-fold.js') }}
	{{ script('codemirror/addon/hint/anyword-hint.js') }}
	{{ script('codemirror/addon/hint/css-hint.js') }}
	{{ script('codemirror/addon/hint/html-hint.js') }}
	{{ script('codemirror/addon/hint/javascript-hint.js') }}
	{{ script('codemirror/addon/hint/show-hint.js') }}
	{{ script('codemirror/addon/hint/sql-hint.js') }}
	{{ script('codemirror/addon/hint/xml-hint.js') }}
	{{ script('codemirror/addon/scroll/annotatescrollbar.js') }}
	{{ script('codemirror/addon/search/jump-to-line.js') }}
	{{ script('codemirror/addon/search/match-highlighter.js') }}
	{{ script('codemirror/addon/search/matchesonscrollbar.js') }}
	{{ script('codemirror/addon/search/search.js') }}
	{{ script('codemirror/addon/search/searchcursor.js') }}


  {{ script('codemirror/addon/mode/loadmode.js') }}
	{{ script('codemirror/addon/mode/simple.js') }}
  {{ script('codemirror/mode/meta.js') }}
  
  {{ script('script/editor.js') }}
</body>

</html>
