<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>
      Login Grunna IDE
    </title>
  </head>

  <body>
    <script src='/script/login.js?{{ version }}'></script>
  </body>

</html>
