<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>
      Login Grunna IDE
    </title>
  </head>

  <body class="text-center">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Grunna IDE</h1>
        <p class="lead">Welcome to try out Grunna Web IDE. It is totaly free and open source.</p>
        <p class="lead">Check code and issues <a href="https://gitlab.com/grunna/grunnaide" target="_blank">here</a> and join Discord <a href="https://discord.gg/U4cN8tr" target="_blank">here</a></p>
      </div>
    </div>
    <div class="card mx-auto" style="width: 25rem;">
      <div class="card-header">
        <h5 class="card-title">Login</h5>
      </div>
      @if(NODE_ENV === 'production')
      <div class="card-body">
        <p class="card-text">At this first version we only support login via a GitHub account</p>
        <a href="{{ route('login.github') }}">
          Login with GitHub
        </a>
      </div>
      @else
      <div class="card-body">
        <p class="card-text">Login as a developer</p>
        <a href="{{ route('login.loginDev') }}">
          Login Development
        </a>
      </div>
      @endif
    </div>  

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
  </body>

</html>
