<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{ style('xterm/xterm.css') }}
</head>
<body>
  <div id='terminal-container'></div>

  <script type="text/javascript" src="/xterm/xterm.js"></script>

  <script>
    var terminalContainer = document.getElementById('terminal-container');
    var term = new Terminal({
      cursorBlink: true
    });
	term.open(terminalContainer);

	term.write("~$ ");
	var input = "";
    term.onData(function(data) {
      const code = data.charCodeAt(0);
      if (code == 13) { // CR
        term.writeln("");
        term.writeln("You typed: '" + input + "'");
        term.write("~$ ");
        input = "";
      } else if (code < 32 || code == 127) { // Control
        return;
      } else { // Visible
        term.write(data);
        input += data;
      }
    })
    
	
  </script>
</body>
</html>
