<ul class="nav nav-tabs" id="fileTabs" role="tablist">

</ul>
<div class="tab-content overflow-auto" style="height: calc(100% - 42px)">
  <div class="tab-pane show active" role="tabpanel" id="editorTab">
    <textarea id="allMyCode"></textarea>               
  </div>
  <div class="tab-pane" role="tabpanel" id="issueTab">
    @include('issue.newIssue')           
  </div>
</div>