<main style="height: 100%" role="main">
  <!--<pre class="mb-0" style="height: 100%" contenteditable="true" id="allMyCode_old"></pre>-->
  <textarea class="mb-0" style="height: 100%; width: 100%" id="allMyCode"></textarea>
</main>
