<footer class="footer">
  <div class="container-fluid px-1">
	  <div class="float-right mr-2">
			<span id="footerMode" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mode</span>
			<div id="dropdownModeMenu" class="dropdown-menu" style="height: 400px;overflow-y: auto;">
        
      </div>
    </div>
  </div>
</footer>