<pre id="outputData" style="height: 100%">
Welcome to Grunna IDE!
On the left you find the tree view with all the files and directories.
On the bottom you have two tabs, one for different outputs and the other (Terminal) is for making commands to your docker container.
If you have any problems and need any help join our <a href="https://discord.gg/U4cN8tr" target="_blank">discord channel</a>
The docker container is linked to port 8080, so you need to expose that to get access to your container data.
</pre>
