<div id="terminal-continer" style="height: 100%"></div>
<!--<pre id="terminalOutput" style="height: 82%"></pre>
<input class="form-control" type="text" id="terminalInput" placeholder="New command">-->
